
h1 {
  color: #ff0000;
  font-size: 52px;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.favourite-sport-game {
  color: #bbe727;
  text-decoration: overline;
}

.favourite-sport-game-text {
  color: #0dc29c;
}

span {
  text-decoration: line-through;
  color: red;
}

.favourite-game {
  color: #236db1;
}

.favourite-game-text {
  color: #cb003d;
}

.favourite-food {
  color: #6b8600;
}

.favourite-food-text {
  color: #ff8a00;
}

p:hover {
  color: #d8e309;
}

.favourite-sport-game:hover {
  color: #006eff;
}

.favourite-game:hover {
  color: #006eff;
}

.favourite-food:hover {
  color: #006eff;
}

.now-you {
  font-size: 50px;
  padding-top: 100px;
  color: red;
}

.asks {
  text-align: center;

}

label {
  font-weight: bold;
}

hr {
  width: 30%;
  border: 1px solid black;
  margin-top: 25px;
}

.input-fav-games {
  width: 250px;
  font-weight: bold;
}

.input-fav-food {
  width: 250px;
  font-weight: bold;
}

button {
  margin-top: 25px;
  border: 1px solid #000000;
  transition: 0.5s
}

button:hover {
  background: linear-gradient(65deg, #2373d1, #10c0e7, #00c9ff);
}
